In [ ]:
import pandas as pd
import os
from sqlalchemy import create_engine
from urllib.parse import quote_plus #convering special charecter in the password using urllb
import logging #to record messages about program execution
import time

Setting up logging configuration

In [2]:
logging.basicConfig(
    filename="logs/ingestion_db.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode='a'


)

credentiols for creating the engine

In [3]:
user_name='postgres'
password='Layappa123@'
encoded_password=quote_plus(password)
port=5432
host='localhost'

â€œCreating an engine to push data to PostgreSQL

In [4]:
engine=create_engine(f"postgresql+psycopg2://{user_name}:{encoded_password}@{host}:{port}/inventory")
logging.info("engine created")

function to insert a datafreame into sql

In [5]:
def ingest_df(df,table,engine):
    df.to_sql(table,con=engine,if_exists='replace',index=False)

inserting dataset into sql

In [ ]:
def load_row_data():
    start=time.time()
    for file in os.listdir('data'):
        if '.csv' in file :
            df=pd.read_csv('data/'+file)
            ingest_df(df,file[:-4],engine)
            logging.info(f"ingesting {file} in db")
    end=time.time()
    logging.info(f"------------ingestion complete--------------")
    total_time=(end-start)/60
    logging.info(f"total_time taken : {total_time} minustes")
if __name__=='__main__':
    load_row_data()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,NaN